#Layer_1{
    transition: transform .2s;
}

#Layer_1:hover {
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Safari 3-8 */
    transform: scale(1.7);
}

.main-frame {
    position: absolute;
    z-index: 1;
}

.floorplan {
    position: relative;
    z-index: 2;
    top: -38.2vh;
    left: 4em;
}

.input {
    padding: 4em 2em;
    border: none;
    box-shadow: none;
    position: relative;
    top: 6vh;
    background-color: white;
    z-index: 2;
}

#scanBtn{
    border-radius: 5em;
    padding: 1em;
    margin-left: 1.2em;
}

.room-select{
    z-index: 3;
}

#vid {
    height: 70vh !important;
    width: 100%;
}